<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--Include CSS styling.-->
<head th:replace="base :: head"></head>
<body>
<!--Include navbar.-->
<div th:replace="base :: navbar"></div>

<!--Insert components here...-->
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<!--Include js scripts.-->
<div th:replace="base :: footer"></div>
</body>
</html>